
header {
    background-color: lightgray;
    color: rgb(233, 14, 14);
    font-size: 0.3cm;
    height: 190px;
 
}

figure { 
    position: relative;
  left: 210px;
  bottom: 30px;
    
}
hgroup {
    position: relative;
    left: 60px;
    top: 60px;
}


h3::after {
    display: block;
    content: " ";
    border: 0.5px solid rgb(114, 114, 114);
}

#competencies {
  width:100%;
background-color:white;
float: left;

}

.skills {
    text-align:start;
    padding-top: 10px;
    padding-bottom: 10px;
    color: white;
    row-gap: 3px;
    
}

.skills-primary {
    
    display: flex;
    flex-direction: column;
    white-space: normal;
    
 color: black;
}

.skills-primary::before {
    content: "Main";
    color: black;
    font-weight: bold;
    
}

.skills-secondary::before {
    content: "Other";
    color: black;
    font-weight: bold;
}


.skills-secondary {

    display: flex;
    flex-direction: column;
    color: black;
}



[data-skill="5"]{

    width: 50%;
    background-color: red;
  
   
    border-bottom-color: lightgray;
    border-top-color: lightgray;
    border-left-color: lightgray;
    border-right-color: lightgray;
  
}

[data-skill="1"]{

    width: 10%;
    background-color: red;
    
}

[data-skill="3"] {
width: 30%;
background-color: red;
}

[data-skill="9"]{
width: 90px;
background-color: red;
}
[data-skill="7"]{
width: 70;
background-color: red;
}






#contact {
   
    float: right;
    
color:white;
background-color:black;
position: relative;
bottom: 540px;
right: 320px;

}

.contact-type {

background-color: red;
}
.experience-date-separator {
    color: red;

    
}

.contact-email {
    margin-top: -1630px;
    
}


.contact-value {

    margin-left:150px;
    margin-top: -18px; 
    columns: 50px;
    color: red;
    display: flex;
    flex-direction: column;
    background-color: black;
    
    
    
}


.experience-type { 
    color: red;
}

.experience-institution {
color: rgb(241, 54, 54);

}
 .experience-date {
     color: grey;
 }
.experience-location {
    color: grey;
}


#competencies {
    position: relative;
    text-align:left;
    
    width: 350px;
    right: 268px;
    float:right;

}
#about { 
float: left;
width: 400px;
text-align: left;

}
#experiences {
    text-align: left;
    
    width: 400px;
    margin-top: 100px;
    margin-right: 160px;
    
}
#education {
 text-align: left;
 width: 400px;
 bottom: 681px;
 left: 400px;
position: relative;

}



h3::before {
content: ".";
color: red;
font-size: 120px;

}
.experience-institution::before{
    content:"@";
}

#hobbies {
    float: left;
    position: relative;
    bottom: 700px;
}

section#contact > h3   {
    visibility: hidden;
}
.skills {
position: relative;
left: 40px;

}

.experience {
    position: relative;
    
}


a:link {
    color: red;
    background-color: transparent;
    text-decoration: none;
  }
  
  a:visited {
    color: red;
    background-color: transparent;
    text-decoration: none;
  }
  
  a:hover {
    color: red;
    background-color: transparent;
    text-decoration: none;
  }

  .contact-skype {
      position: relative;
      top: 18px;
  }
  .contact-github {
    position: relative;
    top: -18px;
  }
  .contact-facebook {
    position: relative;
    top: -35px;
  }
  .contact-email {
      position: relative;
      top: 35px;
  }

  dl.contact-skype > dd.contact-value {
      color: black;
  }